* {
  margin: 0;
  background-color: aqua;
}

.App {
  margin: 5rem 1rem;
  font-family: sans-serif;
  text-align: center;
  background-color: aqua;
}
input {
  width: 50%;
  font-size: larger;
  background-color: white;
  margin: 3rem 2rem;
}
